<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1095365299348-6v54aelshfg9and7ho844ov811p0f6vq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1095365299348-6v54aelshfg9and7ho844ov811p0f6vq</string>
	<key>API_KEY</key>
	<string>AIzaSyCRW6z6qoR_VteCqS9hmabOb6bLpl4VCb4</string>
	<key>GCM_SENDER_ID</key>
	<string>1095365299348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wordpress.namanmvaishnav.GTU-QPaper-Finder</string>
	<key>PROJECT_ID</key>
	<string>gtu-qpaper-finder</string>
	<key>STORAGE_BUCKET</key>
	<string>gtu-qpaper-finder.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095365299348:ios:47e68e8e42542555</string>
	<key>DATABASE_URL</key>
	<string>https://gtu-qpaper-finder.firebaseio.com</string>
</dict>
</plist>